<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/errorPage_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="errorMassage">
    PERMISSION DENIED
</section>
</body>
</html>