<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/index_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
        <a href="profile" class="miniProfile">
            <div class="miniUsername">kanatos</div>
            <div class="miniAvatar"></div>
        </a>
        <a href="loginUser" class="loginButton">sing in</a>
        <a href="registration" class="loginButton">registration</a>
    </section>
</header>

<section class="postsList">
    <div class="post">
        <div class="postBottom seeMore">sing in to see more</div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script type="text/javascript">

    let stompClient
    let socket

    /*function connect() {
        const socket = new SockJS('/post-example')
        console.log("Connect method")
        stompClient = Stomp.over(socket)
        stompClient.connect({}, frame => {
            console.log('Connected: ' + frame)
            stompClient.subscribe('/topic/getPosts', message => {
                /!* handlers.forEach(handler => handler(JSON.parse(message.body)))*!/
            })
        })
    }*/

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect()
        }
        console.log("Disconnected")
    }


    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }



    const onMessageReceived = (payload) => {
        const message = JSON.parse(payload.body);
        console.log(message)

        const chatCard = document.createElement('div')
        chatCard.className = 'card-body'

        const flexBox = document.createElement('div')
        flexBox.className = 'd-flex justify-content-end mb-4'
        chatCard.appendChild(flexBox)

        const messageElement = document.createElement('div')
        messageElement.className = 'msg_container_send'

        flexBox.appendChild(messageElement)


        messageElement.classList.add('chat-message')

        const avatarContainer = document.createElement('div')
        avatarContainer.className = 'img_cont_msg'
        const avatarElement = document.createElement('div')
        avatarElement.className = 'circle user_img_msg'
        avatarElement.appendChild(avatarText);
        flexBox.appendChild(avatarContainer)

        const time = document.createElement('span')
        time.className = 'msg_time_send'


        messageElement.innerHTML = message.content

        console.log(item)
/*        const chat = document.querySelector('#chat')
        chat.appendChild(flexBox)
        chat.scrollTop = chat.scrollHeight*/
    }




    $(document).ready(function () {

        if (getCookie("Authorization") == null) {
            $('.miniProfile').css("display", "none")
        } else {
            $('.loginButton').css("display", "none")
        }

        let myCookie = getCookie("Authorization");
        let result = parseJwt(myCookie)
        let myUsername = result.sub
        $('.miniUsername').html(myUsername)


        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "post/getAll",
            dataType: 'json',
            success: function (result) {
                result.forEach(item => {
                    let text = item.textOfPost;
                    let date = item.date;
                    let time = item.time;
                    if (item.friendsOnly) {
                        $.ajax({
                            type: "GET",
                            contentType: 'application/json',
                            url: "user/getUserByUsername",
                            data: {username: myUsername},
                            dataType: 'json',
                            success: function (result2) {
                                let userId = result2.id;
                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json',
                                    url: "friends/showBoth",
                                    data: {ownerId: userId, friendId: item.authorId},
                                    dataType: 'json',
                                    success: function (result3) {
                                        $.ajax({
                                            type: "GET",
                                            contentType: 'application/json',
                                            url: "user/getUserById",
                                            data: {id: item.authorId},
                                            dataType: 'json',
                                            success: function (result4) {
                                                $('.postsList').prepend(
                                                    '<div class="post">' +
                                                    '<div class="postTop">' +
                                                    '<a class="avatarUsername" href="/user?id='+ item.authorId + '" id="' + item.authorId + '">' +
                                                    '<div class="avatar"></div>' +
                                                    '<div class="username">'+ result4.username +'</div>' +
                                                    '</a>' +
                                                    '<div class="date">' + date + ' ' + time + '</div>' +
                                                    '</div>' +
                                                    '<div class="postBottom">' + text + '</div>' +
                                                    '</div>'
                                                );
                                                console.log(item)
                                            },
                                            error: function (e) {
                                                console.log("ERROR: ", e);
                                            }
                                        })
                                    },
                                    error: function (e) {
                                        console.log("не друг", e);
                                    }
                                })
                            },
                            error: function (e) {
                                console.log("по юзернейму не нашел", e);
                            }
                        })

                    } else {
                        $.ajax({
                            type: "GET",
                            contentType: 'application/json',
                            url: "user/getUserById",
                            data: {id: item.authorId},
                            dataType: 'json',
                            success: function (result2) {
                                $('.postsList').prepend(
                                    '<div class="post">' +
                                    '<div class="postTop">' +
                                    '<a class="avatarUsername" href="/user?id='+ item.authorId + '" id="' + item.authorId + '">' +
                                    '<div class="avatar"></div>' +
                                    '<div class="username">'+ result2.username +'</div>' +
                                    '</a>' +
                                    '<div class="date">' + date + ' ' + time + '</div>' +
                                    '</div>' +
                                    '<div class="postBottom">' + text + '</div>' +
                                    '</div>'
                                );
                                console.log(item)
                            },
                            error: function (e) {
                                console.log("ERROR: ", e);
                            }
                        });
                    }
                });
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });

        socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({},function(frame) {
            stompClient.subscribe("/topic/ws", function (data) {
                const post = JSON.parse(data.body);

                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "post/getPostByIdParam",
                    data: {
                        postId: post.id
                    },
                    dataType: 'json',
                    success: function (result) {
                            let text = result.textOfPost;
                            let date = result.date;
                            let time = result.time;
                            if (result.friendsOnly) {
                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json',
                                    url: "user/getUserByUsername",
                                    data: {username: myUsername},
                                    dataType: 'json',
                                    success: function (result2) {
                                        let userId = result2.id;
                                        $.ajax({
                                            type: "GET",
                                            contentType: 'application/json',
                                            url: "friends/showBoth",
                                            data: {ownerId: userId, friendId: result.authorId},
                                            dataType: 'json',
                                            success: function (result3) {
                                                $.ajax({
                                                    type: "GET",
                                                    contentType: 'application/json',
                                                    url: "user/getUserById",
                                                    data: {id: result.authorId},
                                                    dataType: 'json',
                                                    success: function (result4) {
                                                        $('.postsList').prepend(
                                                            '<div class="post">' +
                                                            '<div class="postTop">' +
                                                            '<a class="avatarUsername" href="/user?id='+ result.authorId + '" id="' + result.authorId + '">' +
                                                            '<div class="avatar"></div>' +
                                                            '<div class="username">'+ result4.username +'</div>' +
                                                            '</a>' +
                                                            '<div class="date">' + date + ' ' + time + '</div>' +
                                                            '</div>' +
                                                            '<div class="postBottom">' + text + '</div>' +
                                                            '</div>'
                                                        );
                                                        console.log(result)
                                                    },
                                                    error: function (e) {
                                                        console.log("ERROR: ", e);
                                                    }
                                                })
                                            },
                                            error: function (e) {
                                                console.log("не друг", e);
                                            }
                                        })
                                    },
                                    error: function (e) {
                                        console.log("по юзернейму не нашел", e);
                                    }
                                })

                            } else {
                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json',
                                    url: "user/getUserById",
                                    data: {id: result.authorId},
                                    dataType: 'json',
                                    success: function (result2) {
                                        $('.postsList').prepend(
                                            '<div class="post">' +
                                            '<div class="postTop">' +
                                            '<a class="avatarUsername" href="/user?id='+ result.authorId + '" id="' + result.authorId + '">' +
                                            '<div class="avatar"></div>' +
                                            '<div class="username">'+ result2.username +'</div>' +
                                            '</a>' +
                                            '<div class="date">' + date + ' ' + time + '</div>' +
                                            '</div>' +
                                            '<div class="postBottom">' + text + '</div>' +
                                            '</div>'
                                        );
                                        console.log(result)
                                    },
                                    error: function (e) {
                                        console.log("ERROR: ", e);
                                    }
                                });
                            }
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });

            })
        })


    })
</script>


</body>
</html>