<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/index_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
        <a href="loginUser" class="loginButton">sing in</a>
        <a href="registration" class="loginButton">registration</a>
    </section>
</header>

<section class="postsList">
    <div class="post">
        <div class="postTop">
            <a class="avatarUsername" href="#">
                <div class="avatar"></div>
                <div class="username">kanatos</div>
            </a>
            <div class="date">Today 18:10</div>
        </div>
        <div class="postBottom">Hello world!</div>
    </div>

    <div class="post">
        <div class="postTop">
            <a class="avatarUsername" href="#">
                <div class="avatar"></div>
                <div class="username">kanatos</div>
            </a>
            <div class="date">Today 18:10</div>
        </div>
        <div class="postBottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    </div>

    <div class="post">
        <div class="postBottom seeMore">sing in to see more</div>
    </div>
</section>
</body>
</html>