<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/authorization.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="index.html" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="authorizationBox">
    <div class="text">SING IN</div>
    <input type="text" placeholder="username">
    <input type="text" placeholder="password">
    <button type="submit">sing in</button>
    <a href="registration.html">dont have account</a>
</section>
</body>
</html>