<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/authorization.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="authorizationBox">
    <div class="text">SING IN</div>
    <input type="text" placeholder="username" id="username">
    <input type="text" placeholder="password" id="password">
    <div id="result_msg"></div>
    <button type="submit" id="login">sing in</button>
    <a href="registration">dont have account</a>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#login').on('click', function () {
            $('#result_msg').html('');
            var username1 = $('#username').val();
            var password1 = $('#password').val();

            var tokens;

            var xhr = new XMLHttpRequest();
            var body = 'username=' + encodeURIComponent(username1) + '&password=' + encodeURIComponent(password1);
            xhr.open("POST", 'login', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (this.readyState != 4 && xhr.status != 200) {
                    $('#result_msg').html('Wrong username or password');
                    return;
                }
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(this.responseText);
                    tokens = JSON.parse(this.responseText);
                    console.log("access_token: ", tokens.access_token);
                    console.log("username: ", tokens.username);
                    const d = new Date();
                    d.setTime(d.getTime() + (15*60*1000));
                    let expires = "expires="+ d.toUTCString();
                    document.cookie = "Authorization=Bearer " + tokens.access_token + ";" + expires;
                    window.location.replace("/");
                }
            };
            xhr.send(body);
        });
    });
</script>
</body>
</html>