<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/profile_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="profileBox">
    <div class="profileTop">
        <div class="avatarBox">
            <div class="profileAvatar"></div>
            <div class="changeAvatar">change photo</div>
        </div>

        <div class="infoBox">
            <div class="profileUsername"></div>
            <div class="aboutMeBox">
                <div class="aboutMeH">about me</div>
                <span role="textbox" class="textInput" contenteditable id="aboutMeInfo"></span>
                <button class="updateButton" id="updateAboutMe">save info</button>
            </div>
        </div>
    </div>

    <div class="profileBottom">
        <div class="friendsBox">
            <a href="#" class="friendsList">
                <div class="friendsNumber">2</div>
                <div class="friendsWord">friends</div>
            </a>

            <a href="#" class="friendsList">
                <div class="friendsNumber">2</div>
                <div class="friendsWord">request</div>
            </a>
        </div>
    </div>
</section>

<section class="addPostBox">
    <div class="addPostWord">add post</div>
    <span role="textbox" class="textInput inputPost" id="postContent" contenteditable></span>
    <button class="updateButton" id="addPost">add post</button>
</section>

<section class="addPostBox">
    <div class="addPostWord">edit post</div>
    <span role="textbox" class="textInput inputPost" id="post_id" contenteditable></span>
    <br>
    <span role="textbox" class="textInput inputPost" id="editContent" contenteditable></span>
    <button class="updateButton" id="editPost">edit post</button>
</section>

<section class="addPostBox">
    <div class="addPostWord">delete post</div>
    <span role="textbox" class="textInput inputPost" id="post_id2" contenteditable></span>
    <button class="updateButton" id="deletePost">delete post</button>
</section>

<section class="myPostsBox">
    <div class="myPostH">my posts</div>
    <section class="postsList">

    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        let myCookie = getCookie("Authorization");

        let resultC = parseJwt(myCookie)
        let username = resultC.sub
        let userId
        $('.profileUsername').html(username)

        if (getCookie("Authorization") != null) {
            let username = resultC.sub
            $.ajax({
                type: "GET",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "user/getUserByUsername",
                data: {username: username},
                dataType: 'json',
                success: function (result) {
                    user_info = result;
                    console.log(result);
                    console.log(result);
                    userId = result.id
                    $('#aboutMeInfo').html(result.aboutMe);

                    $.ajax({
                        type: "GET",
                        contentType: 'application/json',
                        url: "post/getAll",
                        dataType: 'json',
                        success: function (result) {
                            result.forEach((item, i) => {
                                let id = item.id;
                                let text = item.textOfPost;
                                let date = item.date;
                                let time = item.time;
                                if (userId == item.authorId) {
                                    $('.postsList').append(
                                        '<div class="post" id="">' +
                                        '<div class="postTop">' +
                                        '<a class="avatarUsername" href="#">' +
                                        '<div class="avatar"></div>' +
                                        '<div class="username">' +
                                        username +
                                        '</div>' +
                                        '</a>' +
                                        '<div class="postTopLeft">' +
                                        '<div class="date">' +
                                        date + ' ' +
                                        time +
                                        '</div>' +
                                        '<div class="postMenu">. . .' +
                                        '<div class="postHiddenMenu">' +
                                        '<a href="/editPost?id=' + id + '"id="' + id + '" class="edit">edit</a>' +
                                        '<a href="#" class="delete">delete</a>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="postBottom">' +
                                        text +
                                        '</div>' +
                                        '</div>'
                                    );
                                }
                            });
                        },
                        error: function (e) {
                            console.log("ERROR: ", e);
                        }
                    })
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                }
            });
        }

        $('#updateAboutMe').on('click', function () {
            let newValue = document.getElementById("aboutMeInfo").innerText;
            console.log(newValue)
            $.ajax({
                type: "POST",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "user/updateAboutMe",
                data: JSON.stringify({username: username, newValue: newValue}),
                dataType: 'json',
                complete: function (result) {
                    console.log(result.responseText);
                }
            });
        });

        let pad = function (num) {
            return ('00' + num).slice(-2)
        };

        $('#addPost').on('click', function () {
            let textOfPost = document.getElementById("postContent").innerText;
            let today = new Date();
            $.ajax({
                type: "POST",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "post/addPost",
                data: JSON.stringify({
                    textOfPost: textOfPost,
                    authorId: userId,
                    date: pad(today.getDate()) + '/' + pad((today.getMonth() + 1)) + '/' + today.getFullYear(),
                    time: pad(today.getHours()) + ":" + pad(today.getMinutes()) + ":" + pad(today.getSeconds())
                }),
                dataType: 'json',
                complete: function (result) {
                    console.log(result.responseText);
                }
            });
        });


        //TODO: elhan

        $('#editPost').on('click', function () {
            let post_id = document.getElementById("post_id").innerText;
            let newValue = document.getElementById("editContent").innerText;
            console.log(newValue)
            $.ajax({
                type: "POST",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "post/updatePost",
                data: JSON.stringify({post_id: post_id, newValue: newValue}),
                dataType: 'json',
                complete: function (result) {
                    console.log(result.responseText);
                }
            });
        });

        $('#deletePost').on('click', function () {
            let post_id = document.getElementById("post_id2").innerText;
            console.log(post_id)
            $.ajax({
                type: "POST",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "post/deletePost",
                data: JSON.stringify({post_id: post_id}),
                dataType: 'json',
                complete: function (result) {
                    console.log(result.responseText);
                }
            });
        });


    })


</script>
</body>
</html>