<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/profile_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="profileBox">
    <div class="profileTop">
        <div class="avatarBox">
            <div class="profileAvatar"></div>
            <div class="changeAvatar">change photo</div>
        </div>

        <div class="infoBox">
            <div class="profileUsername">kanatos</div>
            <div class="aboutMeBox">
                <div class="aboutMeH">about me</div>
                <span role="textbox" class="textInput" contenteditable>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</span>
            </div>
        </div>
        <button class="loginButton">sing in</button>
    </div>

    <div class="profileBottom">
        <div class="friendsBox">
            <a href="#" class="friendsList">
                <div class="friendsNumber">2</div>
                <div class="friendsWord">friends</div>
            </a>

            <a href="#" class="friendsList">
                <div class="friendsNumber">2</div>
                <div class="friendsWord">request</div>
            </a>
        </div>
    </div>
</section>

<section class="addPostBox">
    <div class="addPostWord">add post</div>
    <span role="textbox" class="textInput inputPost" contenteditable></span>
</section>

<section class="myPostsBox">
    <div class="myPostH">my posts</div>
    <section class="postsList">
        <div class="post">
            <div class="postTop">
                <a class="avatarUsername" href="#">
                    <div class="avatar"></div>
                    <div class="username">kanatos</div>
                </a>
                <div class="postTopLeft">
                    <div class="date">Today 18:10</div>
                    <div class="postMenu">. . .
                        <div class="postHiddenMenu">
                            <a href="#" class="edit">edit</a>
                            <a href="#" class="delete">delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="postBottom">Hello world!</div>
        </div>

        <div class="post">
            <div class="postTop">
                <a class="avatarUsername" href="#">
                    <div class="avatar"></div>
                    <div class="username">kanatos</div>
                </a>
                <div class="postTopLeft">
                    <div class="date">Today 18:10</div>
                    <div class="postMenu">. . .
                        <div class="postHiddenMenu">
                            <a href="#" class="edit">edit</a>
                            <a href="#" class="delete">delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="postBottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function parseJwt(token) {
            let base64Url = token.split('.')[1];
            let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        let myCookie = getCookie("Authorization");
        if (myCookie == null) {
            $('.profileUsername').css("display", "none")
        }


        let result = parseJwt(myCookie)
        $('.profileUsername').html(result.sub)
    })
</script>
</body>
</html>