<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/authorization.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="authorizationBox">
    <div class="text">REGISTRATION</div>
    <input type="text" placeholder="username">
    <input type="text" placeholder="password">
    <input type="text" placeholder="retype password">
    <button type="submit">registration</button>
    <a href="loginUser">already have account</a>
</section>
</body>
</html>