<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/request_style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
        <a href="profile" class="miniProfile">
            <div class="miniUsername">kanatos</div>
            <div class="miniAvatar"></div>
        </a>
    </section>
</header>

<main class="main">
    <div class="textRequest">
        requests
    </div>
    <div class="requests">
        <div class="request">
            <div class="part1">
                <div class="reAvatar"></div>
                <div class="reText">
                    <div class="text1">kanatos</div>
                    <div class="text2">wants to add you as a friend</div>
                </div>
            </div>
            <div class="part2">
                <div class="accept">ACCEPT</div>
                <div class="cancel">CANCEL</div>
            </div>
        </div>
        <div>

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>