<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/profile_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<div id="myName" style="visibility: hidden"></div>

<section class="profileBox">
    <div class="profileTop">
        <div class="avatarBox">
            <div class="profileAvatar"></div>
        </div>

        <div class="infoBox">
            <div class="profileUsername"></div>
            <div class="aboutMeBox">
                <div class="aboutMeH">about me</div>
                <span role="textbox" class="textInput" id="aboutMe"></span>
            </div>
        </div>
    </div>

    <div class="profileBottom">
        <div class="friendsBox">
            <button id="sendRequest">send a request</button>
        </div>
    </div>
</section>

<section class="myPostsBox">
    <div class="myPostH">username's posts</div>
    <section class="postsList">

    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function send(sendById, sendToId) {
        console.log("sendBy" + sendById + "sendTo" + sendToId);
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "friends/showBoth",
            data: {ownerId: sendById, friendId: sendToId},
            dataType: 'json',
            success: function (result2) {
                $('#sendRequest').text("YOUR FRIEND")
            },
            error: function (e) {
                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "friends/showBoth",
                    data: {ownerId: sendToId, friendId: sendById},
                    dataType: 'json',
                    success: function (result) {
                        $('#sendRequest').text("YOUR FRIEND")
                    },
                    error: function (e) {
                        $.ajax({
                            type: "GET",
                            contentType: 'application/json',
                            url: "requests/showByAndTo",
                            data: {sendBy: sendById, sendTo: sendToId},
                            dataType: 'json',
                            success: function (result) {
                                $('#sendRequest').text("REQUEST WAS SENT")
                            },
                            error: function (e) {
                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json',
                                    url: "requests/showByAndTo",
                                    data: {sendBy: sendToId, sendTo: sendById},
                                    dataType: 'json',
                                    success: function (result) {
                                        $('#sendRequest').text("REQUEST WAS SENT")
                                    },
                                    error: function (e) {
                                        $('#sendRequest').on('click', function () {
                                            $.ajax({
                                                type: "POST",
                                                contentType: 'application/json',
                                                url: "requests/send",
                                                data: JSON.stringify({sendBy: sendById, sendTo: sendToId}),
                                                dataType: 'json',
                                                success: function (result) {
                                                },
                                                error: function (e) {
                                                    console.log("ERROR: ", e);
                                                }
                                            })
                                            document.location.reload();
                                        })
                                        console.log("ERROR: ", e);
                                    }
                                })
                                console.log("ERROR: ", e);
                            }
                        })
                        console.log("ERROR: ", e);
                    }
                });
                console.log("ERROR: ", e);
            }
        });
    }

    function sendComment(postId,userId){
        let text = document.getElementById(postId+"p").innerText
        let name = document.getElementById("myName").innerText
        console.log("name: "+name + ", text: "+text+", userId: "+userId+", postId: "+ postId)
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "comment/send",
            data: JSON.stringify({text:text,username:name,userId:userId,postId:postId}),
            dataType: 'json',
            success: function (result) {
                console.log("comment was sent")
            },
            error: function (e){
                console.log("ERROR: ", e);
            }
        })
        document.location.reload();
    }
    $(document).ready(function () {
        let resultC;
        let myUsername;
        if (getCookie("Authorization") != null) {
            resultC = parseJwt(getCookie("Authorization"))
            myUsername = resultC.sub
        } else {
            $('.friendsBox').css("display", "none")
        }
        $('#myName').text(myUsername)
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "user/getUserById",
            data: {id: new URL(window.location.href).searchParams.get('id')},
            dataType: 'json',
            success: function (result) {
                if (myUsername == result.username) {
                    window.location.replace('/profile')
                }
                $('.profileUsername').html(result.username)
                $('#aboutMe').html(result.aboutMe)
                $('.myPostH').html(result.username + "'s post")
                let friendOnlyPage = result.friendOnlyPage
                let authorizedOnlyPage = result.authorizedOnlyPage
                if (authorizedOnlyPage) {
                    if (getCookie("Authorization") == null) {
                        $('.myPostsBox').css("display", "none")
                    }
                }

                if (friendOnlyPage) {
                    $.ajax({
                        type: "GET",
                        contentType: 'application/json',
                        url: "user/getUserByUsername",
                        data: {username: myUsername},
                        dataType: 'json',
                        success: function (result) {
                            userId = result.id
                            $.ajax({
                                type: "GET",
                                contentType: 'application/json',
                                url: "friends/showBoth",
                                data: {ownerId: userId, friendId: new URL(window.location.href).searchParams.get('id')},
                                dataType: 'json',
                                success: function (result3) {

                                },
                                error: function (e) {
                                    $('.myPostsBox').css("display", "none")
                                }
                            })
                        },
                        error: function (e) {
                            console.log("ERROR: ", e);
                        }
                    });
                }

                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "user/getUserByUsername",
                    data: {username: myUsername},
                    dataType: 'json',
                    success: function (result) {
                        userId = result.id
                        send(userId, new URL(window.location.href).searchParams.get('id'))
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });

                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "post/getByAuthorId",
                    data: {authorId: result.id},
                    dataType: 'json',
                    success: function (result) {
                        result.forEach(item => {
                            let text = item.textOfPost;
                            let date = item.date;
                            let time = item.time;
                            let idPost = item.id;
                            if (item.friendsOnly) {
                                $.ajax({
                                    type: "GET",
                                    contentType: 'application/json',
                                    url: "user/getUserByUsername",
                                    data: {username: myUsername},
                                    dataType: 'json',
                                    success: function (result2) {
                                        let userId = result2.id;
                                        $.ajax({
                                            type: "GET",
                                            contentType: 'application/json',
                                            url: "friends/showBoth",
                                            data: {ownerId: userId, friendId: item.authorId},
                                            dataType: 'json',
                                            success: function (result3) {
                                                $.ajax({
                                                    type: "GET",
                                                    contentType: 'application/json',
                                                    url: "user/getUserById",
                                                    data: {id: item.authorId},
                                                    dataType: 'json',
                                                    success: function (result2) {
                                                        $('.postsList').prepend(
                                                            '<div class="post">' +
                                                            '<div class="postTop">' +
                                                            '<a class="avatarUsername" href="/user?id=' + item.authorId + '" id="' + item.authorId + '">' +
                                                            '<div class="avatar"></div>' +
                                                            '<div class="username">' + result2.username + '</div>' +
                                                            '</a>' +
                                                            '<div class="date">' + date + ' ' + time + '</div>' +
                                                            '</div>' +
                                                            '<div class="postBottom">' + text + '</div>' +
                                                            '<div class="textComments">COMMENTS</div>'+
                                                            '<div class="commentBox">'+
                                                            '<div class="commentSend">'+
                                                            '<span role="textbox" contenteditable class="inputComment" id="'+item.id+'p">'+
                                                            '</span>'+
                                                            '<button class="sendButton" onclick="sendComment('+item.id+','+userId+')">'+'SEND</button>'+
                                                            '</div>'+
                                                            '<div class="commentList'+idPost+'">'+

                                                            '</div>'+
                                                            '</div>'+
                                                            '</div>'+
                                                            '</div>'
                                                        );
                                                        $.ajax({
                                                            type: "GET",
                                                            contentType: 'application/json',
                                                            url: "comment/show",
                                                            data: {id: idPost},
                                                            dataType: 'json',
                                                            success: function (result3) {
                                                                let url = ".commentList"+idPost
                                                                result3.forEach(item2 =>{
                                                                    $(url).prepend(
                                                                        '<div class="comment">'+
                                                                        '<a class="userComment" href="/user?id='+item2.userId+'">'+
                                                                        '<div class="avatarComment">'+'</div>' +
                                                                        '<div class="nameComment">'+item2.username+'</div>' +
                                                                        '</a>'+
                                                                        '<div class="textCms">'+item2.text+'</div>'+
                                                                        '</div>'
                                                                    );
                                                                })
                                                                console.log("itemId: "+idPost)
                                                            },
                                                            error: function (e) {
                                                                console.log("ERROR: ", e);
                                                            }
                                                        });
                                                        console.log(item)
                                                    },
                                                    error: function (e) {
                                                        console.log("ERROR: ", e);
                                                    }
                                                });
                                            },
                                            error: function (e) {
                                                console.log("не друг", e);
                                            }
                                        })
                                    },
                                    error: function (e) {
                                        console.log("по юзернейму не нашел", e);
                                    }
                                })

                            } else {
                                if (item.authorizedOnly) {
                                    if (getCookie("Authorization") != null) {
                                        $.ajax({
                                            type: "GET",
                                            contentType: 'application/json',
                                            url: "user/getUserById",
                                            data: {id: item.authorId},
                                            dataType: 'json',
                                            success: function (result2) {
                                                $('.postsList').prepend(
                                                    '<div class="post">' +
                                                    '<div class="postTop">' +
                                                    '<a class="avatarUsername" href="/user?id=' + item.authorId + '" id="' + item.authorId + '">' +
                                                    '<div class="avatar"></div>' +
                                                    '<div class="username">' + result2.username + '</div>' +
                                                    '</a>' +
                                                    '<div class="date">' + date + ' ' + time + '</div>' +
                                                    '</div>' +
                                                    '<div class="postBottom">' + text + '</div>' +
                                                    '<div class="textComments">COMMENTS</div>'+
                                                    '<div class="commentBox">'+
                                                    '<div class="commentSend">'+
                                                    '<span role="textbox" contenteditable class="inputComment" id="'+item.id+'p">'+
                                                    '</span>'+
                                                    '<button class="sendButton" onclick="sendComment('+item.id+','+userId+')">'+'SEND</button>'+
                                                    '</div>'+
                                                    '<div class="commentList'+idPost+'">'+

                                                    '</div>'+
                                                    '</div>'+
                                                    '</div>'+
                                                    '</div>'
                                                );
                                                $.ajax({
                                                    type: "GET",
                                                    contentType: 'application/json',
                                                    url: "comment/show",
                                                    data: {id: idPost},
                                                    dataType: 'json',
                                                    success: function (result3) {
                                                        let url = ".commentList"+idPost
                                                        result3.forEach(item2 =>{
                                                            $(url).prepend(
                                                                '<div class="comment">'+
                                                                '<a class="userComment" href="/user?id='+item2.userId+'">'+
                                                                '<div class="avatarComment">'+'</div>' +
                                                                '<div class="nameComment">'+item2.username+'</div>' +
                                                                '</a>'+
                                                                '<div class="textCms">'+item2.text+'</div>'+
                                                                '</div>'
                                                            );
                                                        })
                                                        console.log("itemId: "+idPost)
                                                    },
                                                    error: function (e) {
                                                        console.log("ERROR: ", e);
                                                    }
                                                });
                                                console.log(item)
                                            },
                                            error: function (e) {
                                                console.log("ERROR: ", e);
                                            }
                                        });
                                    }
                                } else {
                                    $.ajax({
                                        type: "GET",
                                        contentType: 'application/json',
                                        url: "user/getUserById",
                                        data: {id: item.authorId},
                                        dataType: 'json',
                                        success: function (result2) {
                                            $('.postsList').prepend(
                                                '<div class="post">' +
                                                '<div class="postTop">' +
                                                '<a class="avatarUsername" href="/user?id=' + item.authorId + '" id="' + item.authorId + '">' +
                                                '<div class="avatar"></div>' +
                                                '<div class="username">' + result2.username + '</div>' +
                                                '</a>' +
                                                '<div class="date">' + date + ' ' + time + '</div>' +
                                                '</div>' +
                                                '<div class="postBottom">' + text + '</div>' +
                                                '<div class="textComments">COMMENTS</div>'+
                                                '<div class="commentBox">'+
                                                '<div class="commentSend">'+
                                                '<span role="textbox" contenteditable class="inputComment" id="'+item.id+'p">'+
                                                '</span>'+
                                                '<button class="sendButton" onclick="sendComment('+item.id+','+userId+')">'+'SEND</button>'+
                                                '</div>'+
                                                '<div class="commentList'+idPost+'">'+

                                                '</div>'+
                                                '</div>'+
                                                '</div>'+
                                                '</div>'
                                            );
                                            $.ajax({
                                                type: "GET",
                                                contentType: 'application/json',
                                                url: "comment/show",
                                                data: {id: idPost},
                                                dataType: 'json',
                                                success: function (result3) {
                                                    let url = ".commentList"+idPost
                                                    result3.forEach(item2 =>{
                                                        $(url).prepend(
                                                            '<div class="comment">'+
                                                            '<a class="userComment" href="/user?id='+item2.userId+'">'+
                                                            '<div class="avatarComment">'+'</div>' +
                                                            '<div class="nameComment">'+item2.username+'</div>' +
                                                            '</a>'+
                                                            '<div class="textCms">'+item2.text+'</div>'+
                                                            '</div>'
                                                        );
                                                    })
                                                    console.log("itemId: "+idPost)
                                                },
                                                error: function (e) {
                                                    console.log("ERROR: ", e);
                                                }
                                            });
                                            console.log(item)
                                        },
                                        error: function (e) {
                                            console.log("ERROR: ", e);
                                        }
                                    });
                                }
                            }
                        });
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                })
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    });
</script>
</body>
</html>