<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/profile_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <section class="headerLeft">
        <a href="/" class="logo">AITUnet</a>
    </section>
    <section class="headerRight">
    </section>
</header>

<section class="profileBox">
    <div class="profileTop">
        <div class="avatarBox">
            <div class="profileAvatar"></div>
            <div class="changeAvatar">change photo</div>
        </div>

        <div class="infoBox">
            <div class="profileUsername"></div>
            <div class="aboutMeBox">
                <div class="aboutMeH">about me</div>
                <span role="textbox" class="textInput" id="aboutMe"></span>
            </div>
        </div>
    </div>

    <div class="profileBottom">
        <div class="friendsBox">
            <button id="sendRequest">send a request</button>
        </div>
    </div>
</section>

<section class="myPostsBox">
    <div class="myPostH">username's posts</div>
    <section class="postsList">

    </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        let myCookie = getCookie("Authorization");
        let resultC = parseJwt(myCookie)
        let username = resultC.sub

        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "user/getUserById",
            data: {id: new URL(window.location.href).searchParams.get('id')},
            dataType: 'json',
            success: function (result) {
                if (username == result.username) {
                    window.location.replace('/profile')
                }

                $('.profileUsername').html(result.username)
                $('#aboutMe').html(result.aboutMe)
                $('.myPostH').html(result.username + "'s post")

                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "post/getByAuthorId",
                    data: {authorId: result.id},
                    dataType: 'json',
                    success: function (result2) {
                        result2.forEach(item => {
                            let text = item.textOfPost;
                            let date = item.date;
                            let time = item.time;
                            $('.postsList').prepend(
                                '<div class="post">' +
                                '<div class="postTop">' +
                                '<a class="avatarUsername" href="/user?id=' + item.authorId + '" id="' + item.authorId + '">' +
                                '<div class="avatar"></div>' +
                                '<div class="username">' + result.username + '</div>' +
                                '</a>' +
                                '<div class="date">' + date + ' ' + time + '</div>' +
                                '</div>' +
                                '<div class="postBottom">' + text + '</div>' +
                                '</div>'
                            );
                        });
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                })
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    });
</script>
</body>
</html>